@container-width: 1600px; 

.page-wrapper {
    max-width: @container-width; 
    margin-left: auto;
    margin-right: auto; 
}

@media (max-width: @container-width) {
    .page-wrapper {
        max-width: 100%; 
    }
}
@media (min-width: 1600px) and (max-width: 2200px) {
    body {
        background-color: #f0f0f0;
    }
}